.grey {
    background: grey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background: yellow;
}

.lightBlue {
    background: lightblue;
}

.radio {
    padding-top: 20px;
}