.navBar {
    display: flex;
    position: relative;
    left: -100%;
    transition: left 0.5s linear;
    margin-top: 10px;
    margin-bottom: 30px;
}

.navBarItem {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.navBar.active {
    left: 0px;
}

.slideMenu {
    cursor: pointer;
    color: green;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px;
}

.notfound {
    font-size: 48px;
}

.active {
    color: blue;
    margin-left: 15px;
    text-decoration: none;
}

