.navBar {
    display: flex;
    position: relative;
    left: -100%;
    transition: left 0.5s linear;
    margin-top: 10px;
}

.navBarItem {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.navBar.active {
    left: 0px;
}

.slideMenu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
    color: green;
    background-color: lightgrey;
    border-radius: 50%;
}

.slideMenu > div,
.slideMenu > div::before,
.slideMenu > div::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #616161;
}
.slideMenu > div::before {
    content: '';
    top: -6px;
}
.slideMenu > div::after {
    content: '';
    top: 6px;
}

.notfound {
    font-size: 48px;
}

.active {
    width: 100px;
    height: 20px;

    color: blue;
}

