.navBar {
    display: flex;
    position: relative;
    left: -100%;
    transition: left 0.5s linear;
    margin-top: 10px;
    margin-bottom: 30px;
}

.navBarItem {
    margin-left: 15px;
    text-decoration: none;
}

.navBar.active {
 left: 0px;
}

.slideMenu {
    cursor: pointer;
    color: blue;
}


