.timer {
    width: 250px;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

.date {
    width: 250px;
    font-size: 18px;
    color: red;
    text-align: right;
}

.button {
    width: 100px;
    height: 25px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 4px;
}
.button.start {
    background: green;
    color: whitesmoke;
}

.button.stop {
    background: red;
    color: whitesmoke;
}

.buttoncontainer {
    width: 250px;
}