.main {
    width: 280px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.name {
    width: 60%;
    padding: 10px;
}

.main .priority {
    width: 40%;
    padding: 10px;

}

button {
    margin-left: 20px;
    width: 50px;
}


.main button {
    width: 80px;
    height: 20px;
    margin-left: 20px;
    padding: 10px;
    display: flex ;
    align-items: center;
    justify-content: center;

}


button {
    margin-left: 20px;
    width: 50px;
}


.main button {
    width: 80px;
    height: 20px;
    margin-left: 20px;
    padding: 10px;
    display: flex ;
    align-items: center;
    justify-content: center;

}

